#archive-list-container
{
    margin-bottom: 0px;
    list-style: none;
}

#archive-list-container hr
{
    margin: 0px;
}

.archive-list-item
{
    padding: 24px;
}

.archive-list-item-link
{
    color: #343a40;
}

.archive-list-item-link:hover
{
    color: #343a40;
}