body, input, button, select, textarea
{
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
    font-size: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .container {max-width: 540px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .container {max-width: 720px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .container {max-width: 960px;}
}

#nav
{
    opacity: 0.8;
    position: fixed;
    width: 100%;
    /* height是56px不變。畫面在上方時上下padding為20px */
    padding-top: 20px;
    padding-bottom: 20px;
    /* 上下padding改變的轉場時間為0.8秒 */
    transition: all 0.8s;
    /* 設定z-index: 1讓#nav在最上層 */
    z-index: 1;
}

#nav.animated
{
    /* 畫面滾動到下方時上下padding改為8px */
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-item
{
    width: 80px;
}

#image-cover
{
    background-size: cover;
    line-height: 1000px;
    text-align: center;
}

.btn.sharp
{
    border-radius: 0;
}

#list > hr
{
    /* 設定#list的子元素hr，讓其上方的margin為0 */
    margin-top: 0px;
}

#about > hr, #contact > hr
{
    margin: 0px;
}

#footer > hr
{
    margin-bottom: 0px;
}

#list h2, #about h2, #contact h2
{
    margin-top: 24px;
    margin-bottom: 24px;
}

.card
{
    display: none;
}

#back-to-top-button
{
    display: none;
    background: #343a40;
    opacity: 0.8;
    position: fixed;
    bottom: 48px;
    right: 48px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

#footer
{
    font-size: 14px;
    line-height: 48px;
}